<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipalidad de Luján</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- TOASTIFY-->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <!-- Favicon -->

    <link rel="shortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/imgs/favicon.ico" type="image/x-icon">

    <!-- Mi CSS -->

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container-fluid">
        
        <!-- INICIO NAV -->
        <header>
            <div class="row contenedorNav">
                <div class="row-fluid divInfoClima" id="divInfoClima" style="width: 100%;">
                    <!--Pre Header -->
                </div> 
                <nav class="navbar navbar-expand-lg navbar-light">                    
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/imgs/logo.png" alt="logo" width="70" height="70" class="d-inline-block align-text-top img-logo">
                        <div class="titleNav">
                            <h1 class="h1MobTitle">
                                Municipalidad de Luján 
                            </h1>
                        </div>                        
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">                        
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Mi Municipio
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="salud.html">Salud</a>
                                    <a class="dropdown-item" href="views/deportes.html">Deportes</a>                  
                                    <a class="dropdown-item" href="views/educacion.html">Educación</a>
                                    <a class="dropdown-item" href="views/espaciopub.html">Espacio Público</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Turismo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="../turismo/alojamientos.html">Alojamientos</a>
                                    <a class="dropdown-item" href="../turismo/actividades.html">Actividades</a>                  
                                    <a class="dropdown-item" href="../turismo/reservaNat.html">Reserva Natural</a>
                                    <a class="dropdown-item" href="../turismo/fiestasCult.html">Fiestas Culturales</a>
                                    <a class="dropdown-item" href="../turismo/gastronomiaCom.html">Gastronomía y Comercios</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../boletin.html">Boletín Oficial</a>
                            </li>
                        </ul> 
                    </div>
                </nav>                
            </div> 
            <!-- CIERRE NAV -->
        </header>
        
        <!-- INICIO JUMBOTRON -->
        <main role="main" class="row
        ">
            <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <div class="container">
                    <h3 class="display-3" id="userLocal"></h3>
                    <h3 id="btnIniciar"></h3>
                    <p>Sacá turno online para todas las especialidades clínicas del Hospital Juan Klipsons y accedé a tus servicios de salud de una forma rápida, fácil y eficiente.</p>
                    <!-- INICIO contador de turnos -->
                    <!-- Button trigger modal -->                                                    
                    <a class="btn btn-primary btn-lg" id="boton-carrito" type="button" data-toggle="modal" data-target="#exampleModal" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Mis Turnos: <i class="fas fa-shopping-cart"></i><span id="contadorCarrito">0</span>
                    </a>                            
                    <!-- CIERRE contador de turnos -->
                    <div class="divSesionUser">                        
                            <div id="cerrarSesion">
                                
                            </div>                        
                    </div>                    
                    
                </div>        
        </main>
        <!-- CIERRE JUMBOTRON -->
        <!-- INICIO BUSCADOR Y CONTADOR CARRITO -->

        <section class="row sectionTurnos" id="sectionTurnos">
            <hr>
            <div class="instrucciones">
                <h5>¿Cómo funciona el sistema de turnos online?</h5>
                <br>
                <p>-Elige la especialidad, día y horario de tu turno.</p>
                <p>-Presiona el botón verde para seleccionar tu turno.</p>
                <p>-IMPORTANTE: 
                    Para que todos puedan hacer buen uso del sistema de turnos sólo podrás reservar un turno por especialidad cada semana.</p>
                <p>-Revisá y confirmá tu selección apretando el botón "Mis Turnos".</p>
            </div>
            <hr>            
            <div>
                <div class="buscadorContenedor">
                    <input id="buscador" type="search" class="input"  placeholder="Buscar turnos"> <!-- buscador --> 
                    <!-- INICIO Filtros en Select -->
                    <div class="filtroDia" style="margin : 0; max-width: 100%;">
                        <div class="containerFilter">
                            <button>Filtrar por DÍA:
                                <select id="selecTurnos">
                                    <option value="Todos">Todos</option>
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                </select>
                            </button>
                        </div>
                    </div> 
                    <!-- CIERRE Filtros en Select -->
                    
                </div>                
            </div>          
            
            <!-- CONTENEDOR TURNOS -->
            <div class="row contenedorTurnos" id="contenedor-turnos">
                <!-- ACA ESTAN LAS CARDS DESDE JS CON .APPENDCHILD EN SALUD.JS-->
            </div>
            <!-- CIERRE CONTENEDOR TURNOS -->
                        
        </section>
        <!-- CIERRE BUSCADOR Y CONTADOR CARRITO -->
        <!-- INICIO Modal -->
        <div class="modal fade ocultar" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mis Turnos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="confirmar-modal">
                    <div class="card card-body" id="carrito-contenedor">
                        <!-- ACA ESTA EL CARRITO DESDE JS CON .APPENDCHILD EN SALUD.JS-->
                        
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnConfirmar">Confirmar</button>
                    <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar un turno</button>
                </div>
            </div>
            </div>
        </div>
        <!-- CIERRE Modal -->

        <!-- INICIO DE FOOTER -->
        <div class="row">
            <footer class="footerCont">
                <a href="https://api.whatsapp.com/send?phone=542665287717&text=Hola&nbsp;como&nbsp;podemos&nbsp;ayudarte?" class="wtsAppChat" target="target_blank">
                    <img src="../assets/imgs/whatsapp.png" alt="whatsapp">
                </a>
                <div class="footerCont-logo">
                    <div class="footerCont-cont">
                        <div class="footerCont-muni">
                            <img src="../assets/imgs/logo.png" alt="logo" width="85" height="85" class="d-inline-block align-text-top img-logo">
                            <h5>Municipalidad de Luján</h5>
                            <h6>Creciendo Juntos</h6>
                            <h6>Gestión - Pablo Oscar López</h6>
                        </div>
                        <div class="footerMapDis">
                            <div class="footerCont-datos">
                                <p>Teléfono: +54 266 528-7717</p>
                                <p>Dirección: Pringles S/N, Luján, Argentina, 5709</p>
                                <p>Mail: municipalidad.lujan.2021@gmail.com</p>
                                <p>Redes Sociales:
                                    <a href="https://www.facebook.com/municipalidad.lujan" target="blank_"><img src="../assets/imgs/fbLogo.png" alt="facebook" style="width: 75px;"></a>
                                </p>
                            </div>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d842.4731700219027!2d-65.93482771191043!3d-32.36842439881278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d4a7591393ad91%3A0x81f6bcd88d615adb!2sMunicipalidad%20de%20Lujan!5e0!3m2!1ses-419!2sar!4v1647607722218!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>                        
                    </div>                    
                </div>
                
            <!-- ACA VAMOS A PONER DATOS GENERALES COMO TELEFONOS DE CONTACTO Y CASILLA DE EMAILS. TAMBIEN ESTA BUENO PONER ALGUN PLANITO -->
            </footer>
        </div>
        <!-- CIERRE DE FOOTER -->        
    </div>
    <!-- Cierre de Contenedor Principal -->
    <div class="goTop">
        <div class="goTop-button">
            <img src="../assets/imgs/upArrow.png" alt="">
        </div>
    </div>
    <!-- INICIO CHAT DE FB -->
    <!-- CHAT DE FB //// Messenger Plugin de chat Code -->
    <div id="fb-root"></div>

    <!-- CHAT DE FB //// Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "451855271523825");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- CHAT DE FB //// Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v13.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
    emailjs.init("service_hxmt5ly");
    })();
    </script>

    <!-- CIERRE CHAT DE FB -->

    <!-- LIBRERIAS /// ALERTS-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        
    <!-- Mi JavaScript -->
    <script src="../assets/js/goTop.js"></script>
    <script src="../assets/js/apiClima.js"></script>
    <script src="../assets/js/turnos.js"></script>
    <script src="../assets/js/salud.js"></script>
    
</body>
</html>