<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Favicon -->

    <link rel="shortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/imgs/favicon.ico" type="image/x-icon">

    <!-- Mis Estilos -->
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/sign-in/">    
    <link rel="stylesheet" href="../assets/css/login.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">
</head>

<body>
    <!-- <div>        
        <form class="form-signin">
            <img class="mb-4" src="assets/imgs/logo.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
            <label for="inputEmail" class="sr-only">Nombre</label>
            <input type="name" id="inputName" class="form-control" placeholder="Nombre + Apellido" required autofocus>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Recordame
              </label>
            </div>
            <a class="btn btn-primary" href="../index.html" role="button">Ingresar</a>
        </form>
    </div>        -->
    <div class="login-wrap">
      <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar Sesión</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
          <div class="login-form">
              <div class="sign-in-htm">
                  <div class="group">
                      <label for="user" class="label">Usuario</label>
                      <input id="user" type="text" class="input">
                  </div>
                  <div class="group">
                      <label for="pass" class="label">Contraseña</label>
                      <input id="pass" type="password" class="input" data-type="password">
                  </div>
                  <div class="group">
                      <input id="check" type="checkbox" class="check" checked>
                      <label for="check"><span class="icon"></span> Mantenerme conectado</label>
                  </div>
                  <div class="group">
                      <input type="submit" id="ingreso" class="button" value="Ingresar">
                  </div>
                  <div class="hr"></div>
                  <div class="foot-lnk">
                      <a href="#forgot">Olvidó su contraseña?</a>
                  </div>
              </div>
              <div class="sign-up-htm">
                  <div class="group">
                      <label for="user" class="label">Usuario</label>
                      <input id="userRegis" type="text" class="input">
                  </div>
                  <div class="group">
                      <label for="pass" class="label">Contraseña</label>
                      <input id="passRegis" type="password" class="input" data-type="password">
                  </div>
                  <div class="group">
                      <label for="pass" class="label">Repetir contraseña</label>
                      <input id="rePassRegis" type="password" class="input" data-type="password">
                  </div>
                  <div class="group">
                      <label for="pass" class="label">Email</label>
                      <input id="email" type="text" class="input">
                  </div>
                  <div class="group">
                      <input type="submit" id="registro" class="button"  value="Registrarse">
                  </div>
                  <div class="hr"></div>
                  <div class="foot-lnk">
                      <label for="tab-1">Ya eres miembro?</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- CIERRE LOGIN -->


  </div>
  <!-- CIERRE DE CONTENEDOR PRINCIPAL -->

  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  
  <!-- Mi JavaScript -->
  <script src="../assets/js/login.js"></script>
  <!-- <script src="../assets/js/turnos.js"></script>
  <script src="../assets/js/salud.js"></script>     -->
</body>
</html>