.footerCont {
  width: 100%;
  .footerCont-logo {
    display: flex;
    .footerCont-cont {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 35px;
      background: #17b37f;
      .footerCont-muni {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        h5 {
          font-size: 40px;
          color: white;
          font-family: "Lobster", cursive;
        }
        h6 {
          font-size: 15px;
          color: white;
        }
      }
      .footerCont-datos {
        font-size: 18px;
        color: white;
        padding-top: 175px;
      }
    }
  }
}

.footerMapDis {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
