.sectionTurnos {
  background-image: url(../imgs/saludSectionTurnos.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: auto;
  background-position-x: center;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  padding-top: 50px;
  .contenedorTurnos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-bottom: 145px;
    .turno {
      margin: 50px;
      width: 350px;
      background: #007bff;
      padding-left: 15px;
      height: 80px;
    }
  }
  .buscadorContenedor {
    display: flex;
    align-items: center;
    width: 100%;
    .input {
      background: #dee2e6;
      font-size: 20px;
      color: -internal-light-dark(black, white);
      border: 0;
      border-bottom: 1px solid;
    }
    .filtroDia {
      display: flex;
      align-items: center;
    }
  }
}
